.user-header
  %section
    %h2
      .face.text-center= image_tag @user.profile_image, class: 'img-circle'
      .name.text-center
        = @user.screen_name
        - if user_signed_in? && @user == current_user
          = link_to fa_icon('pencil-square-o'), edit_user_path(@user), class: 'edit-user-link'

    .info.text-center
      .row
        %ul
          %li.col-xs-4
            %span.count= @user.courses.count
            %span.title 投稿数
          %li.col-xs-4
            %span.count= @user.given_stars.count
            %span.title もらったスター
          %li.col-xs-4
            %span.count= @user.stars.count
            %span.title 付けたスター

.row
  .col-xs-8
    %section
      %h3 アップしたコース
      
      - @courses.each do |course|
        %article
          %h3= link_to course.title, course

  .col-xs-4
    %section
      %h3
        人気のコース

      %ul
        - @popular_courses.each do |course|
          %li
            = link_to course.title, course
