%article
  %header
    %h2= @course.title

    %ul.tags
      - @course.tags.each do |tagging|
        %li.tag
          %span.btn.btn-info.btn-xs= tagging.name

  = route_lab_course(@course.route_lab_id)
  = simple_format @course.body

  %aside
    - if user_signed_in?
      = link_to course_stars_path(@course), method: :post, class: 'btn btn-lg btn-primary new-star-link' do
        %i.fa.fa-star
    %span.count-num= @course.stars.count
