!!!5
%html{ lang: 'ja' }
  %head
    %title CycleMap
    %meta{ charset: 'utf-8' }
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Titillium+Web:300,200'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default{ role: 'navigation' }
      .container
        .navbar-header
          = link_to 'CycleMap', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li.user-info
              = link_to current_user, class: 'nav-user-link' do
                %span.face= image_tag current_user.profile_image, class: 'img-circle'
                %span.name= current_user.screen_name
            %li= link_to fa_icon('pencil-square-o'), new_course_path, class: 'nav-new-course-link'
            %li= link_to fa_icon('sign-out'), destroy_user_session_path, method: :delete, class: 'nav-logout-link'
          - else
            %li= link_to 'Login with Twitter', user_omniauth_authorize_path(:twitter)

    .container
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert

    - if content_for?(:content)
      = yield(:content)
    - else
      .container= yield
